# Quarto
.quarto/
_extensions/

# Rendered site
docs/

# R
*.Rhistory
*.Rapp.history
*.RData

# macOS
.DS_Store

# Office temporary files
~$*
*.tmp
*.xlk
*.~vsd*

# Word backups
Backup of *.doc*

# Quarto notebooks
**/*.quarto_ipynb
/.quarto/
