/*infos on color palette used: #dad7cd (beige), #a3b18a (light green), #588157 (mid green), #3a5a40 (darkish green), #344e41 (dark green)

/*https://github.com/quarto-dev/quarto-web/blob/main/index.css*/
/*#a3b18a*/

.background-frame {
  padding-bottom: 1rem;
}

.button {
  text-align: center;
  padding-bottom: 10px;
}

.hero-banner {
  position: relative;
  background-color: rgb(163,177,138);
  display: flex;
  justify-content: center;
}


.alt-background {
  background-color: rgb(218,215,205);
  border-top: 1px solid #dad7cd;
  border-bottom: 1px solid #dad7cd;
}


.btn-action-primary {
  color: white;
  background-color: #3a5a40 !important;
}

.btn-action-primary:hover {
  color: white;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}


/*ChatGPT*/
span.__dimensions_badge_embed__, div.altmetric-embed {
  display: inline-block;
}

/*https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video*/

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*https://www.w3schools.com/howto/howto_css_responsive_iframes.asp*/

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%; /* 56.25% if 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* css styles */


.reveal h1 {
font-size: 64px;
}

/* source: https://github.com/hakimel/reveal.js/issues/1897 */
.reveal h2 {
text-align: center;
}

.reveal .centeralign {
text-align: center;
}

.reveal .slide div.aside {
font-size: 12px;
}

.reveal .scrollable {
    height: 700px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

